* {
    border: none; 
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    background: #FCD4E6;
    box-sizing:border-box;
}

.entire {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas: 
    "text image";
}
.closedBox {
    grid-area: image;
    place-self: center center;
    max-width: 1400px;
    padding-top: 5rem;
}
.openBox{
    grid-area: image;
    align-self: start;
    max-width: 1000px;
    position: relative; 
    top: -60px;

}
.text {
    grid-area: text;
    text-align: center;
    align-self: center;
    top: 0;
    left: 0; 

}

.subtext {
    padding: 0 5rem;
    grid-area: text;
}

.subtext--margin{ 
    margin-top: 1rem;
}

.donuts {
    grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: auto; 
}

.donuts__img {
    max-width: 100px;
}

do