* {
    border: none; 
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
}

body {
    background: #FCD4E6;
    box-sizing:border-box;
}

.entire {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "text image";
}
.box {
    grid-area: image;
    place-self: center center;
}
.text {
    grid-area: text;
    place-self: center center;
    text-align: center;
}